= bootstrap_form_for @device_assignment, layout: :horizontal, control_col: "col-sm-3", html: { class: 'validate-form' }  do |f|
  = f.collection_select :branch_id, Branch.all, :id, :name, {include_blank: 'Please Select',  label: "Branch<span class='required'/>".html_safe}, data: { 'rule-required' => true }, class: 'branch_select'
  = f.collection_select :device_category_id, DeviceCategory.all, :id, :name, { label: "Device Category<span class='required'/>".html_safe, include_blank: 'Please Select'}, data: { 'rule-required' => true }, class: 'category_select'
  = f.collection_select :device_id, @devices||[], :id, :name, { include_blank: 'Please Select', label: "Device<span class='required'/>".html_safe}, data: { 'rule-required' => true }, class: 'device_select'
  = f.collection_select :employee_id, @employees||[], :id, :name, {include_blank: 'Please Select', label: "Employee<span class='required'/>".html_safe}, data: { 'rule-required' => true }, class: "employee_select"
  = f.text_field :assign_date, placeholder: 'dd/mm/yyyy', label: "Assign Date<span class='required'/>".html_safe, data: { 'behaviour' => 'no-future-datetimepicker', 'rule-required' => true }, help: "Employee assignment must be onwards joining date, Device assignment must be onwards purchase date"
  - unless @device_assignment.new?
    - unassign_label = @device_assignment.unassign_date.blank? ? 'Unassign Date' : "Unassign Date<span class='required'/>" 
    = f.text_field :unassign_date, value: @device_assignment.unassign_date, placeholder: 'dd/mm/yyyy', label: unassign_label.html_safe, data: { 'behaviour' => 'datetimepicker' }
  = f.button(type: 'submit', class: "btn btn-success") do
    %i{ class: "glyphicon glyphicon-ok" }
    Save
  = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, devices_path, class: "btn btn-primary"