<!DOCTYPE html>
<html>
<head>
  <title>Tdd2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="flash">
    <% if flash[:notice] %>
      <!-- <h4 class="info_box"><%#= flash[:notice] %></h3> -->
      <p id="notice"><%= notice %></p>
    <% end %>
    <% if flash[:error] %>
      <!-- <h4 class="error_box"><%#= flash[:error] %></h3> -->
      <p id="error"><%= error %></p>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
