%h3 Device Details

%table.width-100
  %tr
    %th
      Device Category:
    %td
      = @device.device_category.try(:name)
    %th
      Purchased Date:
    %td
      = @device.purchase_date.try(:to_s, "%b %d, %Y")
  %tr
    %th
      Name:
    %td
      = @device.device_identifier
    %th
      Branch:
    %td
      = @device.branch.try(:name)
  %tr
    - if @devices.blank? && @device.parent_id.present?
      %th
        Associated Device:
      %td
        = link_to format_value(@device.parent.try(:name)), @device.parent
    %th
      IP Address:
    %td
      = format_value(@device.ip_address)
  %tr
    %th
      Provider:
    %td
      = format_value (@device.client.present? ? @device.client.name : 'Clarion')
    %th
      Current Employee:
    %td
      = format_value(@device.current_employee.try(:name))
  %tr
    %th
      Warranty:
    %td
      = @device.lifetime_warranty ? 'Lifetime' : @device.warranry_year.to_i > 0 ? "#{@device.try(:warranry_year)}.#{@device.try(:warranry_month)} Year(s)" : "#{@device.try(:warranry_month)} Month(s)"
    %th
      Status:
    %td.device_status
      = @device.active? ? @device.to_status : 'Deleted'
  %tr
    %th
      Serial Number:
    %td
      = @device.serial_number
    %th
      Model Number:
    %td
      = @device.model_number
  %tr
    %th
      Last Updated:
    %td
      = @device.updated_at.try(:to_s, "%b %d, %Y")

%h3  Employees
%table#search_data_table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Email
      %th Employee Id
      %th.span6 Joined Date
      %th.span6 Assigned Date
      %th.span6 Unassigned On
      - if @device.active?
        = actions_th
  %tbody
    - @device.device_assignments.each do |assignment|
      - employee = assignment.employee
      %tr
        %td= link_to employee.name, employee
        %td= employee.email
        %td= employee.employee_number
        %td.span-6
          = employee.join_date.try(:to_s, "%b %d, %Y")
        %td
          = assignment.assign_date.try(:to_s, "%b %d, %Y")
        %td
          - if assignment.unassign_date.blank?
            - delete_message = 'After deleting this record device will be In Stock'
          - else
            - delete_message = 'Are you sure you want to delete this record?'
          = format_value assignment.unassign_date.try(:to_s, "%b %d, %Y %I:%M %p")
        - if @device.active?
          %td
            = link_to '', edit_device_assignment_path(assignment), class: "glyphicon glyphicon-pencil edit-link", title: "Edit"
            = link_to '', assignment, :method => :delete, class: "glyphicon glyphicon-remove-circle delete-link", title: "Delete", :data => { :confirm => delete_message }
- if @device.parent_id.blank? && @devices.present?
  %h3 Associated Devices
  = render 'devices'

%br
= link_to '<span class="glyphicon glyphicon-pencil "></span> Edit'.html_safe, edit_device_path(@device), class: "btn btn-success" if @device.active?
= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, devices_path, class: "btn btn-primary"