%nav.navbar.navbar-default.top-header{role: "navigation"}
  = link_to "Assets Management", root_path, class: "navbar-brand"
  / - if current_user.present?
  /   = form_tag(root_path, method: :get, class: 'navbar-form navbar-left', role: 'search') do
  /     = text_field_tag :search, params[:search], placeholder: "Search", class: "form-control"
  /     = submit_tag "Submit", :name => nil, class: "btn btn-default"
  %p.navbar-text.navbar-right
    .nav.navbar-nav.navbar-right
      = render 'layouts/header_bar'
- if current_user.present?
  %nav.navbar.navbar-default.top-header{role: "navigation"}
    .container-fluid
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.dropdown{class: active_menu('devices')}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Assets
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Devices", devices_path,class: active_sub_menu('devices')
              %li
                = link_to "Device Categories", device_categories_path,class: active_sub_menu('device_categories')
              %li
                = link_to "Softwares", software_products_path,class: active_sub_menu('software_products')
          %li.dropdown{class: active_menu('partners')}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Partners
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Employees", employees_path,class: active_sub_menu('employees')
              %li
                = link_to "Users", admin_users_path,class: active_sub_menu('users')
              %li
                = link_to "Vendors", vendors_path,class: active_sub_menu('vendors')
              %li
                = link_to "Clients", clients_path,class: active_sub_menu('clients')
          %li.dropdown{class: active_menu('transfers')}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Transfers
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Devices", transfers_path(resource: "Device"), class: active_sub_menu('transfers','Device')
              %li
                = link_to "Employees",  transfers_path(resource: "Employee"),class: active_sub_menu('transfers','Employee')
          %li.dropdown{class: active_menu('device_requests')}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Transactions
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Requests", device_requests_path, class: active_sub_menu('device_requests')
              %li
                = link_to "Quotations", quotations_path,class: active_sub_menu('quotations')
              %li
                = link_to "Purchase Orders", purchase_orders_path, class: active_sub_menu('purchase_orders')
              %li
                = link_to "Invoices", invoices_path, class: active_sub_menu('invoices')
          %li.dropdown{class: active_menu('locations')}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Locations
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Branches", branches_path,class: active_sub_menu('branches')
          %li.dropdown{class: active_menu('reports')}
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Reports
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Users", "#",class: active_sub_menu('reports',nil,'users')
              %li
                = link_to "Employees", "#",class: active_sub_menu('reports',nil,'users')
              %li
                = link_to "Devices", "#",class: active_sub_menu('reports',nil,'users')
              %li
                = link_to "Transactions", "#",class: active_sub_menu('reports',nil,'users')