.row
  .col-md-6 
    %h1 Listing Product
  .col-md-6
    .pull-right.invite_btn
      - if policy(Product).create?
        = link_to 'New Product', new_product_path(), class: 'btn btn-default'
:ruby
  data = grid(@products, show_filters: :no) do |g|
    g.blank_slate  do
      "There are no records"
    end
    g.column name: 'ID', attribute: 'id' do |task|
      task.id
    end
    g.column name: 'Image', attribute: 'image' do |task|
      image_tag task.image, class: 'product-image'
    end
    g.column name: 'Name', attribute: 'name' do |task|
      link_to "#{task.name.blank? ? '---' : task.name}", product_product_comps_path(task)
    end
    g.column name: 'Description', attribute: 'description' do |task|
      task.description
    end
    g.column name: 'Shopify ID', attribute: 'shopify_product_id' do |task|
      task.shopify_product_id
    end
    g.column name: 'Base Price', attribute: 'base_price' do |task|
      task.base_price
    end
    g.column name: 'Created By', attribute: 'admin_id' do |task|
      task.admin.try(:name)
    end
    g.column name: 'Created At', attribute: 'created_at' do |task|
      date_format(task.created_at)
    end
    g.column name: 'Active', attribute: 'active' do |task|
      (task.active.blank? ? 'No' : 'Yes')
    end
    if current_admin.role == 'super_admin'
      g.column name: 'Option' do |task|
        "#{link_to('Edit', edit_product_path(task))} | 
        #{link_to('Delete', product_path(task), method: 'delete', data: {confirm:'Are you sure?'})}
        ".html_safe
      end
    end
  end
= data