- if @invoice.new?
  - url = invoices_path(purchase_order_id: @purchase_order.id)
  - method = "post"
-else
  - url = invoice_path(@invoice, purchase_order_id: @purchase_order.id)
  - method = "put"
#purchase_order
  = bootstrap_form_for @purchase_order ,url: url ,method: method, layout: :horizontal, control_col: "col-sm-7",label_col: "col-sm-4", html: { class: 'validate-form' } do |f|
    = f.fields_for :invoice, @invoice, :wrapper => false do |invoice_field|
      .row
        .col-md-5
          - if @invoice.new?
            = invoice_field.collection_select :purchase_order_id , @purchase_orders, :id, :identifier, {label: "Purchase Order <span class='required'/>".html_safe,include_blank: 'Select Purchase Order'}, data: {'rule-required' => true }
          - else
            .form-group
              %label.control-label.col-sm-4{:for => ""} Purchase Order
              .col-sm-7
                = @invoice.purchase_order.try(:identifier)
      #date-upload-div{class: "#{@purchase_order.new? ? 'hide row' : 'row' }"}
        .col-md-5
          = invoice_field.text_field :on_date, placeholder: 'dd/mm/yyyy', data: { 'date-format' =>"DD/MM/YYYY", 'behaviour' => 'no-future-datetimepicker', 'rule-dateFormat' => true, 'rule-required' => true, 'start-date' => @purchase_order.on_date.to_s  }, label: "Date <span class='required'/>".html_safe
        .col-md-5
          = invoice_field.fields_for :uploads,@uploads, :wrapper => false do |attachment_form|
            = attachment_form.file_field :attachment ,accept: ".pdf"  
          .text-right
            = render "/shared/show_file", ele: @invoice
            
    #device_transaction_div{style: "#{@purchase_order.new? ? 'display:none' : '' }"}
      = render "/shared/device_transactions", device_transactions: @device_transactions, type: "invoice_",f: f

    .row
      #loading_div.col-md-2.col-md-offset-5.hide
        %content
          %section
            .loadingspin

    .row
    = f.button(type: 'submit', class: "btn btn-success") do
      %i{ class: "glyphicon glyphicon-ok" }
      Save

    = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, invoices_path, class: "btn btn-primary"