.border-form-div
  %h2 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
    .form-inputs
      = f.email_field :email, :autofocus => true, :placeholder => 'Email address', :class => 'form-control'
      = f.password_field :password, :placeholder => 'Password', :class => 'form-control'
      - if devise_mapping.rememberable?
        %label.checkbox
          = f.label :remember_me
          Rembmer me
      = f.submit "Sign in", class: 'btn btn-primary', data: {disable_with: "Sign in"}
  = render "devise/shared/links"